.content(@h) {
    .content {
        // max-height:~"calc(100% - @{h})";
        flex: 1;
        overflow-y: auto; // overflow-x: hidden;
    }
    .title{
        font-size: 70px;
        background-color: @bg2;
        text-align: center;
        padding-top: .4rem;
    }
    .infopanel {
        padding: 40px 20px;
        border-bottom: @border; // height: 70vw;
        background-color: @bg2;
        display: flex;
        .infopanel-cell {
            line-height:70px;
            height: 70px;
            font-size: 40px;
        }
        .infopanel-left {
            flex: 1;
            text-align: right;
            .price {
                .rate {
                    left: 10px;
                }
            }
        }
        .infopanel-middle {
            width: 120px;
            text-align: center;
        }
        .infopanel-right {
            flex: 1;
            text-align: left;
            .price {
                .rate {
                    right: 10px;
                }
            }
        }
        .price {
            position: relative;
        }
        .rate {
            font-size: 26px;
            color: @green;
            position: absolute;
        }
        .down {
            color: @orange;
        }
    }
    .chartpanel {
        height: 50vw;
        margin-bottom: 30px; // border-bottom: @border2;
    }
}