.nav(@h) {
    .navbar {
        font-size: 24px;
        border-top: @border;
        height: @h;
        line-height: @h;
        color: @color2;
        background-color: @bottom-navbar-bg;
        display: flex;
        justify-content: space-around;
        animation: navbar-anim .3s;
        animation-delay: .3s;
        transform: translateY(100%);
        .animation();
        .hm-item {
            display: block;
            text-align: center;
            flex: 1;
            user-select: none;
            margin: 0;
            background-color: transparent!important;
            color: @color2!important;
            animation: navbar-item-anim .5s;
            transform: translateY(100%);
            .animation();
            &:nth-of-type(1) {
               animation-delay: .3s;
            }
            &:nth-of-type(2) {
               animation-delay: .4s;
            }
            &:nth-of-type(3) {
               animation-delay: .5s;
            }
            &:nth-of-type(4) {
               animation-delay: .6s;
            }
        }
        .hm-item-selected {
            background-color: @bottom-navbar-active-bg!important;
            pointer-events: none;
        }
    }
}