@primary-color: #02D4BF;
@link-color: #02D4BF;

@color: #fff;
@color2:#dfd5f8;
@color3:fade(@color,70%);
@title-color:@color3;
@header-height: 120px;
@bg: #312a5e;//#24303a; //darken(#fff,5%);
@bg2:#42377b;
@green: #48c15e;
@red: #ef6670;
@sub-color: #4a667a;