@primary-color: #61DA00;
@link-color: #02D4BF;
@color: #eee;
@border: 1px solid #646165;
@color2: #B1AFBA;
@color3: #B2B2B2;
@bar-color: @color2;
@header-height: 120px;
@bg: #312a5e; //#24303a;
@bg2: #42377b;
@green: #61DA00;
@blue: #00CCFF;
@purple :#afa9fe;
@red: #fe8080;
@sub-color: #4a667a;