.content(@h) {
    .content {
        height:~"calc(100% - @{h})";
        &:extend(.flex-column);
        .am-tabs-content {
            flex: 1;
            overflow-y: auto;
            .am-tabs-tabpane-active {
                min-height: 100%;
            }
        }
    }
    .infopanel {
        .infopanel-item {
            margin: 0px 20px;
            height: 70px;
            line-height: 70px;
            display: grid;
            grid-column-gap: 10px;
            grid-template-columns: 180px 2fr 2fr;
            font-size: 26px;
            color: @color3;
            .infopanel-item-column {
                .rate {
                    font-size: 14px;
                    color: @green;
                    &.down {
                        color: @red;
                    }
                }
            }
        }
    }
    .chartpanel {
        min-height: 1200px;
    }
}