.content(@h) {
    .content {
        height:~"calc(100% - @{h})";
        &:extend(.flex-column);
        .am-tabs-content {
            flex: 1;
            overflow-y: auto;
            .am-tabs-tabpane {
                &:extend(.flex-column);
            }
            .am-tabs-tabpane-active {
                min-height: 100%;
            }
        }
    }
    .infopanel {
        padding: 10px 0;
        border-bottom: @border;
        .infopanel-item-head {
             color:fade(@color3,60);
            display: grid;
            grid-column-gap: 5px;
            grid-template-columns: 150px 2fr 2fr;
            .infopanel-item-column {
                text-align: center;
                padding-top: 15px;
            }
        }
        .infopanel-item {
            margin: 0px 20px;
            height: 55px;
            line-height: 55px;
            display: grid;
            grid-column-gap: 5px;
            grid-template-columns: 150px 2fr 2fr;
            font-size: 26px;
            .infopanel-item-column {
                text-align: center;
            }
            .price {
                font-size: 36px;
            }
            .rate {
                font-size: 20px;
                color: @green;
                &.down {
                    color: @orange;
                }
            }
        }
    }
    .chartpanel {
        flex: 1; // min-height: 950px;
    }
}